# User defined
/build/*
!/build/CMakeLists.txt
!/build/build_script.sh
!/build/create_sln_vs2013.bat
!/build/create_sln_vs2015.bat
!/build/generate_eclipse_cdt.sh
!/build/install.sh

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!/lib/libopenblas.dll
!/lib/libmxnet.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!/lib/libopenblas.lib
!/lib/libmxnet.lib

# Executables
*.exe
*.out
*.app
