# User defined
/build/*
!/build/CMakeLists.txt
!/build/build_script.sh
!/build/create_vs2013_project.bat
!/build/create_vs2015_project.bat
!/build/generate_eclipse_cdt.sh
!/build/install.sh

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
